<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLTV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLTV2.styles.css" asp-append-version="true" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Admin/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/Admin/dist/css/table.css">
    <link rel="stylesheet" href="~/Admin/dist/css/Modal.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      @* <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> *@

      <!-- Messages Dropdown Menu -->
     

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="~/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">QUẢN LÍ THƯ VIỆN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Nhân viên</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->

      <!-- Sidebar Menu -->
     <nav class="mt-2">
   <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
     <li class="nav-item">
       <a href="#" class="nav-link">
         <i class="nav-icon fas fa-book-open"></i>
         <p>
           Thư viện
           <i class="fas fa-angle-left right"></i>
         </p>
       </a>
       <ul class="nav nav-treeview">
         <li class="nav-item">
           <a href="@Url.Action("Index","ThuVien")" class="nav-link">
             <i class="fas fa-archive nav-icon"></i>
             <p>Thư viện</p>
           </a>
         </li>
         <li class="nav-item">
           <a href="@Url.Action("Index","CuonSach")" class="nav-link">
             <i class="fas fa-book nav-icon"></i>
             <p>Sách thư viện</p>
           </a>
         </li>
       </ul>
     </li>
     <li class="nav-header">QUẢN LÍ</li>
     <li class="nav-item">
       <a href="@Url.Action("Index","NhaXuatBan")" class="nav-link">
         <i class="nav-icon fas fa-building"></i>
         <p>Nhà xuất bản</p>
       </a>
     </li>
     <li class="nav-item">
       <a href="@Url.Action("Index","TuaSach")" class="nav-link">
         <i class="nav-icon fas fa-bookmark"></i>
         <p>Tựa sách</p>
       </a>
     </li>
     <li class="nav-item">
       <a href="@Url.Action("Index","DocGia")" class="nav-link">
         <i class="nav-icon fas fa-user-friends"></i>
         <p>Độc giả</p>
       </a>
     </li>
     <li class="nav-item">
       <a href="@Url.Action("Index","MuonSach")" class="nav-link">
         <i class="nav-icon fas fa-book-reader"></i>
         <p>Mượn sách</p>
       </a>
     </li>
     <li class="nav-item">
       <a href="@Url.Action("Index","TaiKhoan")" class="nav-link">
         <i class="nav-icon fas fa-user-cog"></i>
         <p>Tài khoản</p>
       </a>
     </li>
     <li class="nav-item">
       <a href="@Url.Action("Logout","TaiKhoan")" class="nav-link">
         <i class="nav-icon fas fa-sign-out-alt"></i>
         <p>Đăng Xuất</p>
       </a>
     </li>
   </ul>
</nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       
                    @RenderBody()
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!--script>
        $.widget.bridge('uibutton', $.ui.button)
    </!--script-->
    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <!--script src="~/Admin/plugins/chart.js/Chart.min.js"></!--script-->
    <!-- Sparkline -->
    <script src="~/Admin/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Admin/plugins/moment/moment.min.js"></script>
    <script src="~/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Admin/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Admin/dist/js/demo.js"></script>
    <script src="~/Admin/dist/js/demo.js"></script>
    <script src="~/Admin/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Admin/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
