@using QLTV2.Models

@{
    ViewData["Title"] = "Index";
    var dsTuaSach = ViewBag.ListTuaSach as List<TuaSach>;
    var dsDocGia = ViewBag.ListDocGia as List<DocGia>;
    var dsThuVien = ViewBag.ListThuVien as List<ThuVien>;
    var currentPage = ViewBag.CurrentPage ?? 1;
    var pageSize = ViewBag.PageSize ?? 5;
    var totalItems = ViewBag.TotalItems ?? 0;
    var search = ViewBag.Search as string;
    var dateMuon = ViewBag.DateMuon as string;
    var dateTra = ViewBag.DateTra as string;
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>Quản lí mượn sách</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">danh sách mượn sách</li>
        </ol>
    </div>
</div>

<div class="d-flex justify-content-end mb-3">
    <form method="get" class="form-inline float-sm-right">
    <div class="form-group mr-2">
        <label class="mr-2" for="dateMuon">Ngày mượn:</label>
        <input type="date" name="dateMuon" class="form-control" value="@dateMuon" />
    </div>
    <div class="form-group mr-2">
        <label class="mr-2" for="dateTra">Ngày trả:</label>
        <input type="date" name="dateTra" class="form-control" value="@dateTra" />
    </div>
    <button type="submit" class="btn btn-primary">Lọc</button>
</form>
  <button type="button" class="btn btn-secondary mr-3" onclick="window.location.href='@Url.Action("Index","MuonSach")'">
        <i class="fas fa-undo"></i>
    </button>
    <button type="button" class="btn btn-primary" onclick="openAddModal()" style="margin-left: 30px;">
        <i class="fas fa-plus"></i> Mượn sách 
    </button>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã tựa sách</th>
                              <th>Tên tựa sách</th>
                            <th>Mã thư viện</th>
                            <th>Tên thư viện</th>
                            <th>Số thẻ đọc giả</th>
                            <th>Tên đọc giả</th>
                            <th>Ngày mượn</th>
                            <th>Ngày trả</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                        <tr>
                                                    <td>@item.MaTuaSach</td>
                                            <td>@item.TuaSach?.TenTuaSach</td>
                                            <td>@item.MaThuVien</td>
                                            <td>@item.ThuVien?.TenThuVien</td>
                                            <td>@item.DocGia?.SoTheDG</td>
                                                    <td>@item.DocGia?.TenDG</td>
                                            <td>@item.NgayMuon.ToString("dd/MM/yyyy")</td>
                                            <td>@(item.NgayTra?.ToString("dd/MM/yyyy") ?? "")</td>

                                            <td>
                                        @if (item.NgayTra == null)
                                        {
                                <form action="@Url.Action("UpdateNgayTra", "MuonSach", new { id = item.MaTuaSach })" 
                                      method="post" 
                                      class="d-inline">
                                                @Html.AntiForgeryToken()
                                    <input type="hidden" name="ngayTra" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                    <button type="submit" class="btn btn-success" onclick="return confirm('Xác nhận trả sách?')">
                                        <i class="fas fa-book-return"></i> Trả Sách
                                    </button>
                                </form>
                                        }
                                        else
                                        {
                                <!-- Display "Xóa" button if NgayTra is not null -->
                                <form action="@Url.Action("Delete", "MuonSach", new { maTuaSach = item.MaTuaSach, maThuVien = item.MaThuVien, soTheDG = item.SoTheDG })" 
                                      method="post" 
                                      class="d-inline">
                                                @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa không?')">
                                        <i class="fas fa-trash-alt"></i> Xóa
                                    </button>
                                </form>
                                        }
                                            </td>
                                        </tr>
                            }
                        }
                        else
                        {
                                <tr>
                                    <td colspan="6" class="text-center">No data available</td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="card-tools">
    <ul class="pagination pagination-sm">
        <li class="page-item">
            <a href="@Url.Action("Index", new { 
                page = ViewBag.CurrentPage > 1 ? ViewBag.CurrentPage - 1 : 1, 
                searchTerm = ViewBag.SearchTerm,
                dateMuon = ViewBag.DateMuon,
                dateTra = ViewBag.DateTra
            })" class="page-link">&laquo;</a>
        </li>
        @if (ViewBag.TotalItems > 0)
        {
            int totalPages = (int)Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize);
            for (int i = 1; i <= totalPages; i++)
            {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a href="@Url.Action("Index", new { 
                        page = i, 
                        searchTerm = ViewBag.SearchTerm,
                        dateMuon = ViewBag.DateMuon,
                        dateTra = ViewBag.DateTra
                    })" class="page-link">@i</a>
                        </li>
            }
        }
        <li class="page-item">
            <a href="@Url.Action("Index", new { 
                page = ViewBag.CurrentPage < (int)Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize) ? ViewBag.CurrentPage + 1 : (int)Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize), 
                searchTerm = ViewBag.SearchTerm,
                dateMuon = ViewBag.DateMuon,
                dateTra = ViewBag.DateTra
            })" class="page-link">&raquo;</a>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm Mượn Sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="addForm" asp-action="Create" method="post">
                        <div class="form-group">
                            <label for="MaTuaSachAdd">Mã Tựa Sách</label>
                            <select class="form-control" name="MaTuaSach">
                                <option value="" hidden>--Chọn tựa sách--</option>
                                @if (dsTuaSach != null)
                                {
                                    foreach (var item in dsTuaSach)
                                    {
                                                <option value="@item.TuaSachID">@item.TenTuaSach</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="MaThuVienAdd">Mã Thư Viện</label>
                            <select class="form-control" name="MaThuVien">
                                <option value="" hidden>--Chọn thư viện--</option>
                                @if (dsThuVien != null)
                                {
                                    foreach (var item in dsThuVien)
                                    {
                                                <option value="@item.MaThuVien">@item.TenThuVien</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SoTheDGAdd">Số Thẻ Đọc Giả</label>
                            <select class="form-control" name="SoTheDG">
                                <option value="" hidden>--Chọn đọc giả--</option>
                                @if (dsDocGia != null)
                                {
                                    foreach (var item in dsDocGia)
                                    {
                                                <option value="@item.SoTheDG">@item.TenDG</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="NgayMuonAdd">Ngày Mượn</label>
                            <input type="date" 
                                   class="form-control" 
                                   id="NgayMuonAdd" 
                                   name="NgayMuon" 
                                   min="2000-01-01" 
                                   max="@DateTime.Today.ToString("yyyy-MM-dd")" 
                                   required>
                            <div class="invalid-feedback">
                                Vui lòng chọn ngày mượn hợp lệ.
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openAddModal() {
        document.getElementById('modalTitle').textContent = "Thêm Mượn Sách";
        document.getElementById('addForm').reset();
        $('#exampleModalCenter').modal('show');
    }
</script>
